:root {
	font-size: 16px;
}

.header-sticky {
	position: sticky;
	top: 0;
	left: 50%;
	display: flex;
	height: 5.9375rem;
	padding: 0.9375rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8rem;
	font-size: 1.5rem;
}

.header-sticky__button {
	padding: 0.8rem 2rem 0.8rem 2rem;
	border-radius: 0.625rem;
	background-color: #454343;
	color: #fff;
	cursor: pointer;
	display: block;
}

.content {
	margin: 2rem auto;
	width: 80%;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
}

@media screen and (max-width: 768px){
	:root {
		font-size: 13px;
	}
	
}

@media screen and (max-width: 544px){
	:root {
		font-size: 9px;
	}
	.header-sticky {
		gap: 4rem;
	}
	
}
