:root {
	font-size: 16px;
}

.header-sticky {
	display: flex;
	width: 90rem;
	height: 5.9375rem;
	padding: 0.9375rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8.5rem;
	font-size: 2rem;
	font-family: 
}

.header-sticky__button {
	padding: 0.94rem 2.11rem 1.84rem 2.06rem;
	border: 1px solid black;
	border-radius: 0.625rem;
	background-color: #454343;
	color: #fff;
}